<%= form_for [@user, Charge.new], html: { id: 'payment', autocomplete: 'on', novalidate: true } do |f| %>
  <%= hidden_field_tag :stripe_publishable_key, @user.stripe_publishable_key %>

  <%= f.hidden_field :stripe_token, id: 'stripe_token' %>

  <%= f.hidden_field :currency, value: @currency %>
  <%= f.hidden_field :amount, value: @amount %>

  <div class="field name">
    <label for="name">Name on card</label>
    <input type="text" id="name" spellcheck="off" autocompletetype="cc-name">
  </div>

  <div class="field card_number">
    <label for="card_number">Card number</label>
    <input type="text" id="card_number" pattern="\d*" autocompletetype="cc-number" placeholder="•••• •••• •••• ••••">
  </div>

  <div class="group">
    <div class="field expiration_date">
      <label for="expiration_date">Expires</label>
      <input type="text" id="expiration_date" pattern="\d*" autocompletetype="cc-exp" placeholder="MM / YY">
    </div>

    <div class="field cvc">
      <label for="cvc">Card code</label>
      <input type="text" id="cvc" autocomplete="off" pattern="\d*" autocompletetype="cc-csc" placeholder="CVC">
    </div>
  </div>

  <div class="action">
    <p><%= f.submit 'Donate' %> or <%= link_to "cancel", @user %></p>
  </div>
<% end %>

<%= javascript_tag do %>
  Payment.init();
<% end %>
