<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'flash' %>

<header>
  <h1><%= link_to "Wallet", root_path %></h1>

  <% if current_user %>
    <p><%= link_to "Sign Out", signout_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "Connect with Stripe", authorize_path, data: { 'no-turbolink' => true } %></p>
  <% end %>
</header>

<%= yield %>

</body>
</html>
